<?xml version="1.0" encoding="utf-8"?>
<ArrayOfWebMenuItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WebMenuItem MenuId="148" KeyCode="77" MenuName="系统管理(M)" ParentId="0" Depth="0" OrderNum="100" CreateDate="0001-01-01T00:00:00" Enabled="true">
    <Children>
      <WebMenuItem MenuId="149" KeyCode="0" MenuName="系统菜单管理" ParentId="148" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="true">
        <LeftUrl>System/MenuTree.html</LeftUrl>
        <RightUrl>System/EditMenu.html?MenuId=0</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="252" KeyCode="0" MenuName="系统参数配置" ParentId="148" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="true">
        <RightUrl>System/Settings.html</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="253" KeyCode="0" MenuName="系统用户管理" ParentId="148" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="false">
        <LeftUrl />
        <RightUrl>System/UserList.html</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="254" KeyCode="0" MenuName="系统角色管理" ParentId="148" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="false">
        <LeftUrl>System/RoleTree.html</LeftUrl>
        <RightUrl>System/EditRole.html?RoleId=0</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="0" KeyCode="0" MenuName="系统帮助管理" ParentId="148" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="true">
        <LeftUrl>./Assist/MenuTree.html</LeftUrl>
        <RightUrl>./Assist/HelpEdit.html?MenuId=256</RightUrl>
      </WebMenuItem>
    </Children>
  </WebMenuItem>
  <WebMenuItem MenuId="298" KeyCode="73" MenuName="接入服务器管理(I)" ParentId="0" Depth="0" OrderNum="100" CreateDate="0001-01-01T00:00:00" Enabled="true">
    <LeftUrl />
    <RightUrl />
    <Children>
      <WebMenuItem MenuId="303" KeyCode="0" MenuName="业务配置管理" ParentId="298" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="true">
        <LeftUrl>Assist/entSrvTree.html</LeftUrl>
        <RightUrl>Assist/HelpEdit.html?MenuId=303</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="299" KeyCode="0" MenuName="清除全部缓存数据" ParentId="298" Depth="1" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="true">
        <LeftUrl />
        <RightUrl>/API/clearcache.ashx</RightUrl>
      </WebMenuItem>
    </Children>
  </WebMenuItem>
  <WebMenuItem MenuId="300" KeyCode="70" MenuName="资源管理器(F)" ParentId="0" Depth="0" OrderNum="0" CreateDate="0001-01-01T00:00:00" Enabled="true">
    <LeftUrl />
    <RightUrl />
    <Children>
      <WebMenuItem MenuId="11" KeyCode="0" MenuName="文件管理器" ParentId="300" Depth="1" OrderNum="0" CreateDate="2010-08-17T10:23:26.8125+08:00" Enabled="true">
        <LeftUrl />
        <RightUrl>BrowseFolder.aspx?downable=true&amp;Type=All&amp;root=/</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="102" KeyCode="0" MenuName="SQL查询分析器" ParentId="300" Depth="1" OrderNum="0" CreateDate="2010-08-17T10:26:31.40625+08:00" Enabled="true">
        <LeftUrl />
        <RightUrl>../tool/sql.aspx</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="103" KeyCode="0" MenuName="日志实时监控" ParentId="300" Depth="1" OrderNum="0" CreateDate="2010-08-17T10:27:27.15625+08:00" Enabled="true">
        <LeftUrl />
        <RightUrl>../tool/Tail.ashx?path=/logs/SvrDebug.log</RightUrl>
      </WebMenuItem>
      <WebMenuItem MenuId="104" KeyCode="0" MenuName="其他WebService调用" ParentId="300" Depth="1" OrderNum="0" CreateDate="2010-08-17T10:28:16.8125+08:00" Enabled="true">
        <LeftUrl />
        <RightUrl>SvrMgr.asmx</RightUrl>
      </WebMenuItem>
    </Children>
  </WebMenuItem>
</ArrayOfWebMenuItem>