<?xml version="1.0" encoding="utf-8"?>
<ServerChain LastSynDatetime="2011-01-27T11:01:52.515625+08:00">
  <Servers>
    <ServerItem ServerID="uc" PingUrl="http://192.168.8.91:8095/api/serverChain.ashx" LastPingTime="0001-01-01T00:00:00" IsPingServer="true" />
    <ServerItem ServerID="SurfingServer" PingUrl="http://118.123.215.76:9000/api/serverChain.ashx" LastPingTime="0001-01-01T00:00:00" IsPingServer="false" />
    <ServerItem ServerID="lanServer" PingUrl="http://192.168.8.43:8095/api/serverChain.ashx" LastPingTime="0001-01-01T00:00:00" IsPingServer="false" />
    <ServerItem ServerID="BizServer" PingUrl="http://118.123.205.166:8095/api/serverChain.ashx" LastPingTime="0001-01-01T00:00:00" IsPingServer="false" />
    <ServerItem ServerID="GameServer" PingUrl="http://118.123.205.185:8088/api/serverChain.ashx" LastPingTime="0001-01-01T00:00:00" IsPingServer="false" />
  </Servers>
</ServerChain>