<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="Gwsoft.Web.Tool.PageHandler,Gwsoft.Web.Tool"/>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
    </httpHandlers>
    <httpRuntime executionTimeout="3600"/>
  </system.web>
</configuration>