<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="resourceSettings" type="Gwsoft.Resource.Configuration.ResourceSection, Gwsoft.Resource"/>
  </configSections>
  <dataConfiguration defaultDatabase="DefaultDB"/>
  <!-- HTTP请求的缓存配置 -->
  <cachingConfiguration defaultCacheManager="MemoryCacheManager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="20000" numberToRemoveWhenScavenging="1000" backingStoreName="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" name="IsolatedCacheManager"/>
      <add expirationPollFrequencyInSeconds="360" maximumElementsInCacheBeforeScavenging="5000" numberToRemoveWhenScavenging="500" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" name="MemoryCacheManager"/>
    </cacheManagers>
    <backingStores>
      <add partitionName="DiskCache" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Isolated Storage"/>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
  <resourceSettings host="Web" default="zh-CN" mode="Default" cookieName="ResLang">
    <resources>
      <resource name="zh-CN" path="/Languages/zh-CN/" string="Resources.xml" message="Messages.xml"/>
      <resource name="en-US" path="/Languages/en-US/" string="Resources.xml" message="Messages.xml"/>
    </resources>
  </resourceSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000">
          <converters/>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <!-- 文件选择管理组件目录定义 -->
    <add key="Gwsoft.Web.FileManager.Paths.Application" value="{Gwsoft.Web.Application.Path}"/>
    <add key="Gwsoft.Web.FileManager.Paths.Templet" value="/templets/"/>
    <!-- 文件选择管理组件文件类型定义 -->
    <!-- Gwsoft.Web.FileManager.Type.File 默认节点必须定义 -->
    <add key="Gwsoft.Web.FileManager.Type.All" value="*"/>
    <add key="Gwsoft.Web.FileManager.Type.File" value="7z|aiff|asf|avi|bmp|csv|doc|fla|flv|gif|gz|gzip|jpeg|jpg|mid|mov|mp3|mp4|mpc|mpeg|mpg|ods|odt|pdf|png|ppt|pxd|qt|ram|rar|rm|rmi|rmvb|rtf|sdc|sitd|swf|sxc|sxw|tar|tgz|tif|tiff|txt|vsd|wav|wma|wmv|xls|xml|zip|mod|bar|mif|ifg|mel|bin|zk|idx"/>
    <add key="Gwsoft.Web.FileManager.Type.Media" value="aiff|asf|avi|bmp|fla|flv|gif|jpeg|jpg|mid|mov|mp3|mp4|mpc|mpeg|mpg|png|qt|ram|rm|rmi|rmvb|swf|tif|tiff|wav|wma|wmv"/>
    <add key="Gwsoft.Web.FileManager.Type.Image" value="png|gif|jpg|jpeg|bmp|tif|tiff"/>
    <add key="Gwsoft.Web.FileManager.Type.Flash" value="swf|flv"/>
    <add key="Gwsoft.Web.FileManager.Type.Page" value="html|htm|sthml|xml|asp|aspx|ashx|ascx"/>
    <!-- 
      接入服务器数据库配置：数据库服务器|数据库|用户名|密码 
      远程：192.168.10.82|serviceconfig|sa|gwsoft
      本地：192.168.8.43|ProxyServer|sa|mimaaa
    -->
    <add key="SYS_EnterSrvDB" value="192.168.10.82|GatewayServer|sa|gwsoft"/>
    <!-- 管理模块的所有URL前缀地址 -->
    <add key="WebServiceModule.PrefixePath" value="/cpl/service/"/>
    <!-- 
    获取协议的匹配模式，必须包含匹配组(proto) /cpl/service/1.3.5.1.1/
    //数字协议：/(?&lt;proto&gt;(\d+\.)+\d+)
    //类型协议：/(?&lt;proto&gt;(([a-z$_])[\w_\-]*)(\.(([a-z$_])[\w_\-]*))*)\.asmx
  -->
    <add key="WebServiceModule.ProtocolPattern" value="/(?&lt;proto&gt;(\d+\.)+\d+)"/>
    <!-- 是否记录组件产生的SQL语句操作 -->
    <add key="SharpOrm.LogCommandText" value="false"/>
    <!-- SQL语句记录是否包含详细堆栈信息 -->
    <add key="SharpOrm.LogStackTrace" value="false"/>
    <add key="DataServer" value="Server=192.168.10.82;User ID=sa;Password=gwsoft;Database=GatewayServer;"/>
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;"/>
    <!-- 指定在线更新辅助程序路径 -->
    <add key="ServerUpdateHandler.SwitcherPath" value="d:\Server\EaseSvrSwitcher\EaseSvrSwitcher.exe"/>
    <!-- 指定在线更新辅助程序更新的window服务名称 -->
    <add key="ServerUpdateHandler.ServiceName" value="CLRSvrHost,ServiceSafe"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="txtFileTrace" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="AspTesttrace.log"/>
      </listeners>
    </trace>
    <switches>
      <!-- This switch controls data messages. In order to receive data trace messages, change value="0" to value="1" -->
      <add name="DataMessagesSwitch" value="0"/>
      <!-- This switch controls general messages. In order to receive general trace messages change the value to the appropriate level.
     "1" gives error messages, 
     "2" gives errors and warnings, 
     "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="TraceLevelSwitch" value="0"/>
    </switches>
  </system.diagnostics>
  <connectionStrings>
    <add name="DefaultDB" providerName="System.Data.SqlClient" connectionString="Server=192.168.10.82;User ID=sa;Password=gwsoft;Database=GatewayServer;Connect Timeout=5"/>
    <add name="ProxyServer" providerName="System.Data.SqlClient" connectionString="Server=192.168.10.82;User ID=sa;Password=gwsoft;Database=GatewayServer;Connect Timeout=5"/>
    <add name="gwease" providerName="System.Data.SqlClient" connectionString="Server=192.168.10.82;User ID=gwsoftease;Password=gwsoftease;Database=GwsoftEase;Connect Timeout=6"/>
    <add name="ServiceConfig" providerName="System.Data.SqlClient" connectionString="Server=192.168.10.82;User ID=sa;Password=gwsoft;Database=ServiceConfig"/>
  </connectionStrings>
  <!-- 允许访问数据监控同步页面 -->
  <location path="MonitorHandler.ashx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- 允许访问wap页面 -->
  <location path="wap.ashx" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- 允许访问API目录 -->
  <location path="API" allowOverride="true">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!-- Set these next 2 attributes large enough to accomodate the largest and 
   longest running upload you want to support.  Note that browsers and
   IIS typically don't support uploads larger than 2GB (2097151 KB). -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <!-- 设置 compilation debug="true" 可将调试符号插入已编译的页面中。但由于这会影响性能，因此只在开发过程中将此值设置为 true。-->
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authorization>
      <allow roles="Administrators"/>
      <deny users="?"/>
    </authorization>
    <!--
  通过 <authentication> 节可以配置 ASP.NET 用来识别进入用户的安全身份验证模式。
  <authentication mode="Forms">
      <forms name="EaseSvrAuth" loginUrl="~/login.ashx" protection="All" path="/">
        <credentials passwordFormat="Clear">
          <user name="wangqj" password="9119" />
        </credentials>
      </forms>
    </authentication>
  -->
    <authentication mode="Forms">
      <forms name="EaseSvrAuth" loginUrl="~/login.ashx" protection="All" path="/">
        <credentials passwordFormat="Clear">
          <user name="wangqj" password="9119"/>
        </credentials>
      </forms>
    </authentication>
    <!--
            如果在执行请求的过程中出现未处理的错误，则通过 <customErrors> 节可以配置相应的处理步骤。
            具体说来，开发人员通过该节可以配置要显示的 html 错误页以代替错误堆栈跟踪。 RemoteOnly
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <!-- 静态小文件处理(GZIP+缓存支持) -->
      <add verb="GET,HEAD" path="*.js" validate="true" type="EaseServer.Management.ServiceModule.GZipHandler, EaseServer.Management"/>
      <add verb="GET,HEAD" path="*.css" validate="true" type="EaseServer.Management.ServiceModule.GZipHandler, EaseServer.Management"/>
      <add verb="GET,HEAD" path="*.gif" validate="true" type="EaseServer.Management.ServiceModule.GZipHandler, EaseServer.Management"/>
      <add verb="GET,HEAD" path="*.png" validate="true" type="EaseServer.Management.ServiceModule.GZipHandler, EaseServer.Management"/>
      <add verb="GET,HEAD" path="*.html" validate="true" type="EaseServer.Management.ServiceModule.GZipHandler, EaseServer.Management"/>
      <add verb="GET,HEAD" path="*.htm" validate="true" type="EaseServer.Management.ServiceModule.GZipHandler, EaseServer.Management"/>
    </httpHandlers>
    <httpModules>
      <add name="EaseModule" type="EaseServer.EaseConnection.HTTP.EaseModule, EaseServer.EaseConnection"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ServiceModule" type="EaseServer.Management.WebServiceModule, EaseServer.Management"/>
    </httpModules>
    <webServices>
      <wsdlHelpGenerator href="CustomWsdlHelpGenerator.aspx"/>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>