<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServerSessionSupport" type="EaseServer.Configuration.ServerSessionSupport, EaseServer" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EaseServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ReadonlyDirectory" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <ReadonlyDirectory>
    <add key="/svr/logs/" value="D:\DevRoot\Remote\release\ClrServerHost\Logs\" />
  </ReadonlyDirectory>

  <applicationSettings>
    <EaseServer.Properties.Settings>
      <setting name="ListenPorts" serializeAs="String">
        <value>8095</value>
      </setting>
    </EaseServer.Properties.Settings>
  </applicationSettings>

  <appSettings>
    <!-- 是否记录组件产生的SQL语句操作 -->
    <add key="SharpOrm.LogCommandText" value="false" />
    <!-- SQL语句记录是否包含详细堆栈信息 -->
    <add key="SharpOrm.LogStackTrace" value="false" />

    <!-- 服务建立Socket连接后，等待发送数据的微妙数，默认为1000(1秒)。 -->
    <add key="EaseServer.Connection.WaitMilliseconds" value="60000" />
    <!-- 是否统计连接的性能计数 -->
    <add key="EaseServer.Connection.EnablePerformanceCounter" value="false" />
    <!-- 统计性能计数的点:枚举配置EaseServer.Performance.PerformancePoint -->
    <add key="EaseServer.Connection.PerformancePoint" value="ALL" />

    <!-- 服务器最多等待连接请求的个数 -->
    <add key="EaseServer.Server.MaxWattingCount" value="2" />
    <!-- 最大等待连接的队列大小 -->
    <add key="EaseServer.PendingQueueCount" value="5000"/>
    <!-- 数据交互是否记录请求数据 -->
    <add key="EaseServer.EaseConnection.DataExchange.DebugRequest" value="false" />
    <!-- 数据交互是否记录返回数据 -->
    <add key="EaseServer.EaseConnection.DataExchange.DebugResponse" value="false" />
    <!-- 数据交互是否记录的业务编号限制 默认记录所有，只记录特定业务编号使用,分隔多个编号。-->
    <add key="EaseServer.EaseConnection.DataExchange.DebugServiceID" value="13" />
    <!-- 数据交互是否记录业务访问日志，默认为记录 -->
    <add key="EaseServer.EaseConnection.DataExchange.RecordPageView" value="false" />
    <!-- 业务数据获取超时秒数 -->
    <add key="EaseServer.EaseConnection.DataExchange.TimeoutSecond" value="30" />

    <!-- 服务器服务方式运行默认参数 -->
    <add key="EaseServer.ServiceArguments" value="&quot;&quot; 8095 / Dameon" />

    <!-- 线程池使用控制ThreadPool -->
    <add key="ThreadPool.SetMaxThreads" value="400,1000" />
    <add key="ThreadPool.SetMinThreads" value="50,200" />

    <!-- 服务器宿主根目录地址 -->
    <add key="EaseServer.HostRoot" value="" />

    <!-- 客户端连接的最多闲置秒数设置 -->
    <add key="EaseServer.MaxIdleTimeSeconds" value="120" />
    <!-- 每个服务实例支持的最大连接数，默认20000个连接。 -->
    <add key="EaseServer.MaxConnectionCount" value="5000" />
    <!-- 服务端日志记录级别：ALL, DEBUG, INFO, ERROR, NONE -->
    <add key="EaseServer.ServerLogLevel" value="NONE" />
    <!-- 每个连接预分配的缓冲字节数，默认4096(4K)。 -->
    <add key="EaseServer.ConnectionBufferSize" value="4096" />

    <!-- 是否展示目录列表，如果没有默认文件 default.htm(l) default.aspx -->
    <add key="EaseServer.DirectoryList" value="true" />
    <!-- HTTP 设置未知扩展名文件类型，如不设置将显示403错误 -->
    <add key="EaseServer.UnkownContentType" value="application/octet-stream" />
    <!-- 记录访问的类型： ReadWrite Read Write None -->
    <add key="EaseServer.DumpAccess" value="None" />
    <!-- 记录访问的格式： Binary HexString HexViewString -->
    <add key="EaseServer.DumpFormat" value="HexViewString" />

  </appSettings>

  <connectionStrings>
    <add name="DefaultDB" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=ProxyServer;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="ProxyServer" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=ProxyServer;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="ServerDB" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=GwsoftEase;Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- 服务器端会话支持类型，排在前面的优先操作。
      aspx:获取或设置是否允许内置的Asp.NET服务(默认开启)
      mixed:是否允许混合主/被动会话模式(默认关闭，只支持主动式会话。)
      emptyUA:获取或设置是否允许空的用户代理标识(默认允许)
  -->
  <ServerSessionSupport aspx="true" mixed="false" emptyUA="true">

    <Agents>
      <!-- id:用户代理标识, pattern:包含组名id和ver的正则匹配模式, minVer:最低版本要求 -->
      <ua id="Firefox" name="Firefox" pattern="\s(?&lt;id&gt;Firefox)/(?&lt;ver&gt;[\d\.]+)\s" minVer="3.0" />
      <ua id="MSIE" name="Internet Explorer" pattern="\s(?&lt;id&gt;MSIE)\s(?&lt;ver&gt;[\d\.]+);" minVer="6.0" />
      <ua id="Chrome" name="Chrome" pattern="\s(?&lt;id&gt;Chrome)/(?&lt;ver&gt;[\d\.]+)\s" minVer="6.0" />
    </Agents>

    <!-- 控制台支持 -->
    <add id="Console" type="EaseServer.ConsoleConnection.FreeStyleConnection, EaseServer.ConsoleConnection" enable="true">
      <Config>
        <add name="sessionKey" value="ease" />
      </Config>
    </add>

    <!-- EASE协议支持 -->
    <add id="ESP" type="EaseServer.EaseConnection.ESPConnectionProcess, EaseServer.EaseConnection" enable="true">
      <Config>
        <!-- 会话数据发送缓冲字节数 默认4096字节 -->
        <add name="bufferSize" value="40960" />
      </Config>
    </add>

  </ServerSessionSupport>


  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
</configuration>