@charset "utf-8";
/* CSS Document */
/* 最外层容器 */
.d_Div {width:179px; height:250px; margin:0px; padding:0px; position:absolute; left:100px; top:100px; overflow:hidden; z-index:10; border:none; background-color:#FFFFFF; display:none;}
/* 遮挡SELECT的iframe */
.tmpFrame {width:100%; height:250px; opacity:0; filter:alpha(opacity=0);}
/* 主体容器 */
.dataDiv {width:175px; height:246px; margin:0px; padding:1px; border:1px solid #3399FF; z-index:11; position:absolute; left:0px; top:0px;}
/* 显示部分容器 */
.mainDiv {width:175px; height:246px; margin:0px; padding:0px; background-color:#FFFFFF; border:none; -moz-user-select:none; }
/* 年月部分 */
.ym {width:175px; height:24px; line-height:24px; text-align:left; background-color:#4585C3; margin:0px; padding:0px; border:none;}
.year {width:72px; height:24px; margin:0px; margin-left:4px; padding:0px; border:none; float:left;}
.year li {float:left; margin:0px; padding:0px; height:24px; line-height:24px; text-align:center; list-style:none; opacity:0.8; filter:alpha(opacity=80);}
.year li span {font-family:Webdings; width:16px; height:20px; line-height:20px; margin:0px; color:#FFFFFF; cursor:pointer; font-size:12px;}
.year li.left {width:16px; margin-top:0px;}
.year li.center{width:40px; margin-top:0px;}
.year li.center input {width:38px; height:16px; margin:0px; padding:0px; font-size:12px; text-align:center; margin-top:2px; cursor:pointer;}
.year li.center input.ds {background-color:#4585C3; color:#FFFFFF; border:none; line-height:18px;}
.year li.center input.as {background-color:#D1E1F1; color:#4585C3; border:1px solid #4785C0; line-height:16px; cursor:auto;}
.year li.right {width:16px; margin-top:0px;}

.month {width:72px; height:24px; margin:0px; margin-right:4px; padding:0px; border:none; float:right;}
.month li {float:left; margin:0px; padding:0px; height:24px; line-height:24px; text-align:center; list-style:none; opacity:0.8; filter:alpha(opacity=80);}
.month li span {font-family:Webdings; width:16px; height:20px; line-height:20px; margin:0px; color:#FFFFFF; cursor:pointer; font-size:14px;}
.month li.left {width:16px; margin-top:0px;}
.month li.center{width:40px; margin-top:0px;}
.month li.center input {width:38px; height:16px; margin:0px; padding:0px; font-size:12px; text-align:center; margin-top:2px; cursor:pointer;}
.month li.center input.ds {background-color:#4585C3; color:#FFFFFF; border:none; line-height:20px;}
.month li.center input.as {background-color:#D1E1F1; color:#4585C3; border:1px solid #4785C0; line-height:16px; cursor:auto;}
.month li.right {width:16px; margin-top:0px;}

/* 下拉选择月 */
.month_se {width:70px; border:#3399CC 1px solid; background-color:#D1E1F1; margin:0px; padding:0px 2px; position:absolute; opacity:0.9; filter:alpha(opacity=90); display:none;}
.month_se li {width:50%; margin:0px; height:20px; line-height:20px; padding:0px;  list-style:none; font-size:12px; text-align:center; float:left; cursor:pointer;}
.month_se li.dis {color:#4585C3;}
.month_se li.act {color:#F7F7F7; background-color:#4585C3;}
.month_se li.not {color:#CCCCCC; cursor:auto;}

/* 周 */
.week {width:175px; height:24px; border:none; margin:0px; margin-top:1px; padding:0px;}
.week li {height:24px; line-height:24px; text-align:center; background-color:#F7F7F7; margin:0px; padding:0px; font-size:12px; float:left; list-style:none;}
.week li.li01 {background-color:#87B3DA; margin-left:0px; color:#FFFFFF; width:25px;}
.week li.li02 {background-color:#87B3DA; color:#FFFFFF; width:24px; border-left:1px solid #F7F7F7;}
.week li.li03 {background-color:#D2E2F2; color:#4785C0; width:24px; border-left:1px solid #F7F7F7;}

/* 日期 */
.date {width:175px; height:24px; border:none; margin:0px; margin-top:1px; padding:0px;}
.date li {height:24px; line-height:24px; text-align:center; background-color:#F7F7F7; margin:0px; padding:0px; font-size:12px; float:left; list-style:none; cursor:pointer;}
.date li.li01 {background-color:#D1E1F1; color:#993300; width:25px; margin-left:0px;}
.date li.li02 {background-color:#D1E1F1; color:#993300; width:24px; border-left:1px solid #F7F7F7;}
.date li.li03 {background-color:#D1E1F1; color:#4785C0; width:24px; border-left:1px solid #F7F7F7;}
.date li.li04 {background-color:#D1E1F1; color:#F7F7F7; width:25px; margin-left:0px;}
.date li.li05 {background-color:#D1E1F1; color:#F7F7F7; width:24px; border-left:1px solid #F7F7F7;}
.date li.li06 {background-color:#D1E1F1; color:#CCCCCC; width:25px; margin-left:0px; cursor:auto;}
.date li.li07 {background-color:#D1E1F1; color:#CCCCCC; width:24px; cursor:auto; border-left:1px solid #F7F7F7;}

.date li.seli {background-color:#4585C3; color:#FFFFFF; width:25px; margin-left:0px;}
.date li.lise {background-color:#4585C3; color:#FFFFFF; width:24px; border-left:1px solid #F7F7F7;}

.date li.todayli {background-color:#87B3DA; color:#F7F7F7; width:25px; margin-left:0px;}
.date li.litoday {background-color:#87B3DA; color:#F7F7F7; width:24px; border-left:1px solid #F7F7F7;}

/* 时分秒 */
.hms {width:175px; height:24px; line-height:24px; text-align:left; background-color:#D1E1F1; margin:0px; margin-top:1px; padding:0px; border:none; color:#4585C3; font-size:12px;}
.hms input {width:16px; height:16px; margin:0px; color:#4585C3; border:1px solid #4785C0; line-height:16px; padding:0px; font-size:12px; text-align:center; margin-top:2px;}
.hms input.hh {border-right:none;}
.hms input.mh {border-right:none; border-left:none; width:6px;}
.hms input.mm {border-right:none; border-left:none;}
.hms input.ss {border-left:none;}

/* 下拉选择时分秒 */
.hms_se {width:120px; border:#3399CC 1px solid; background-color:#D1E1F1; margin:0px; padding:0px 2px; position:absolute; display:none; opacity:0.9; filter:alpha(opacity=90);}
.hms_se li {width:16%; margin:0px; height:20px; line-height:20px; padding:0px;  list-style:none; font-size:12px; text-align:center; float:left; cursor:pointer;}
.hms_se li.dis {color:#4585C3;}
.hms_se li.act {color:#F7F7F7; background-color:#4585C3;}
.hms_se li.not {color:#CCCCCC; cursor:auto;}

/* 按钮 */
.btndiv {width:175px; height:22px; margin:0px; padding:0px; border:none;}
.btndiv input {width:41px; height:20px; line-height:20px; text-align:center; border:1px solid #87B3DA; background-color:#4585C3; color:#FFFFFF; margin:0px; margin-top:1px; font-size:12px; cursor:pointer;}
.btndiv input.inp {margin-left:3px;}
.btndiv input.red {color:#993300;}

