/* CSS Document */
body						{margin:0;padding:0;background:#FFF; height:100%;font-size:12px;overflow:hidden;
							font-family:"Lucida Grande", Verdana, Lucida, Arial, Helvetica, "微软雅黑","宋体",sans-serif;color:#333;
							SCROLLBAR-FACE-COLOR: #E8F1F6; 
							SCROLLBAR-SHADOW-COLOR: #AEBEC8; 
							SCROLLBAR-HIGHLIGHT-COLOR: #FFF; 
							SCROLLBAR-3DLIGHT-COLOR: #AEBEC8; 
							SCROLLBAR-DARKSHADOW-COLOR: #FFF; 
							SCROLLBAR-TRACK-COLOR:#F0F4F6; 
							SCROLLBAR-ARROW-COLOR: #6E849A;}
div,form,p,ul,ol,li,dl,dt,dd,
h1,h2,h3,h4,h5,h6			{border:0;list-style:none;margin:0;padding:0;text-align:left;}
form, input, select, textarea { font-size:12px}
a							{color:#333;}
a:link,a:visited,a:active	{text-decoration:none;}
a:hover 					{color:#333;}
a img 						{border:0;cursor:pointer;}
img							{vertical-align:middle; }
.clear {CLEAR: both; FONT-SIZE: 0px; VISIBILITY: hidden; WIDTH: 1px; HEIGHT: 1px}

/*框架结构
----------------------------------------------------------------------------------*/
#header,#footer         { margin-left:0; clear:both}
#header					{ height:92px; min-width:1000px; width:auto!important; overflow:hidden;background:url(../images/logo_bg.gif) repeat-x left top}
#footer					{ height:28px; }
#footer:after           { content: "."; display: block;height: 0; clear: both; visibility: hidden;}
#adMBox{ margin-left:0}

/*头部
----------------------------------------------------------------------------------*/
.headTop{margin-left:0; height:59px;background:url(../images/logo_2.gif) no-repeat left top;}
.headTopText{ padding:32px 10px 0 0; line-height:25px; text-align:right; }
.headNav{position: relative; height:33px; overflow:hidden; background:url(../images/ch_head_nav_bg.gif) repeat-x left top}

.headScrollerL{position:absolute;width:17px; padding:7px 0px;cursor:pointer;left:0pt;top:0pt;z-index:10;}
.headScrollerR{position:absolute;width:17px; padding:7px 0px;cursor:pointer;right:0pt;top:0pt;z-index:10;}
.headNavStrip{overflow:hidden;position:relative; margin-left:30px; margin-right:30px;}
.headNavStrip ul{ margin-left:0;}
/*按钮效果--------------*/
.headNavStrip ul li{ float:left;}
.headNavStrip ul li.liLine{ width:2px; padding:8px 10px}
.headNavStrip ul li.liOver{float:left;}
.headNavStrip ul li.liOver .out{margin-top:3px;}
.headNavStrip ul li.liOver .out .in{background:url(../images/ch_head_nav_bot_right02.gif) no-repeat right top; line-height:26px;  color:#fff; padding:0 20px 0 8px;}
.headNavStrip ul li.liOver .out .in a{ color:#fff}
.headNavStrip ul li.liOver .out .in a:hover{ text-decoration:none}
.headNavStrip ul li.liAct{float:left;}
.headNavStrip ul li.liAct .out{background:url(../images/ch_head_nav_bot_left.gif) no-repeat left top; margin-top:3px; }
.headNavStrip ul li.liAct .out .in{ background:url(../images/ch_head_nav_bot_right.gif) no-repeat right top; line-height:26px;  color:#fff; padding:0 20px 0 8px;}
.headNavStrip ul li.liAct .out .in a{ color:#fff}
.headNavStrip ul li.liAct .out .in a:hover{ text-decoration:none}


/*菜单下拉层*/
/*.navText{position:absolute;margin-left:50px;width:100px;overflow:hidden;padding:0 5px;background: url(../images/ch_tc_bg.gif) repeat-y left top #EFF7FE;border:1px solid #6298C7;left: -33px;}
.navText p{line-height:25px;display:block; padding:0 5px; margin:2px 0}
.navText p.over{line-height:25px;display:block}
.navText p.overbg{line-height:25px;display:block; background: url(../images/ch_arr02.gif) no-repeat right 9px;}
.navText p.act{line-height:25px;display:block; background:#2682C6; color:#FFF}
.navText p.act a{color:#FFF}
.navText p.act02{ line-height:25px;display:block; background: url(../images/ch_arr.gif) no-repeat right 9px #2682C6; color:#FFF}
.navText p.act02 a{color:#FFF}*/
.menubigdiv {width:112px; position:absolute; z-index:200005; display:none; line-height:24px;}
.menudiv {position:absolute;width:110px;overflow:hidden;padding:0px;background: url(../images/ch_tc_bg.gif) repeat-y left top #EFF7FE;border:1px solid #6298C7;margin-left:auto; margin-right:auto; left:0px; top:0px; height:auto; z-index:200006; line-height:24px; padding-top:3px; padding-bottom:3px;}
.menudiv p{line-height:24px; height:24px; display:block; padding:0px; margin:0px; text-align:left; width:98px; padding-left:2px; margin-left:7px;}
.menudiv p.over{}
.menudiv p.overbg{background: url(../images/ch_arr02.gif) no-repeat right 9px;}
.menudiv p.act{background:#2682C6; color:#FFF}
.menudiv p.act02{background: url(../images/ch_arr.gif) no-repeat right 9px #2682C6; color:#FFF}

.childmenubig {width:132px; position:absolute; z-index:200005; display:none; line-height:24px;}
.childmenudiv {position:absolute;width:130px;overflow:hidden;padding:0px;background: url(../images/ch_tc_bg.gif) repeat-y left top #EFF7FE;border:1px solid #6298C7;margin-left:auto; margin-right:auto; left:0px; top:0px; height:auto; z-index:200006; line-height:24px; padding-top:3px; padding-bottom:3px;}
.childmenudiv p{line-height:24px; height:24px; display:block; padding:0px; margin:0px; text-align:left; width:118px; padding-left:2px; margin-left:7px;}
.childmenudiv p.over{}
.childmenudiv p.overbg{background: url(../images/ch_arr02.gif) no-repeat right 9px;}
.childmenudiv p.act{background:#2682C6; color:#FFF}
.childmenudiv p.act02{background: url(../images/ch_arr.gif) no-repeat right 9px #2682C6; color:#FFF}

/*底部
----------------------------------------------------------------------------------*/
.footText{margin:1px 0 0 0;}
table.listf {background-color:#FFF; width:100%; margin:0 auto; height:auto; font-size:12px}
table.listf tbody.tb1 th {background:#E2E2E2; font-weight:normal;text-align:left;padding:2px 5px; line-height:20px; color:#999}
table.listf tbody.tb1 th.th01{ width:15%;}
table.listf tbody.tb1 th.th02{ width:15%;}
table.listf tbody.tb1 th.th03{ width:15%;}
table.listf tbody.tb1 th.th04{ width:15%;}
table.listf tbody.tb1 th.th05{ width:15%;}
table.listf tbody.tb1 th.th06{ width:20%;}
table.listf tbody.tb1 th.th07{ width:5%; text-align:center}
table.listf img.im01{ margin:0 10px}
table.listf span{ color:#333}
table.listf span.spnew{ cursor:pointer; width:19px; height:20px; display:block; background:url(../images/ch_email.gif) no-repeat left top}

/*框架结构
----------------------------------------------------------------------------------*/
#content{ margin-left:0;background:#FFF;}
#left{ float:left; display:inline; border:2px solid #99BBE8;border-bottom:3px solid #1661C5;border-right:none;  width:200px; height:500px; background:#FFF url(../images/ch_right_bg04.gif) repeat-x left bottom} 
#right{border:2px solid #99BBE8;border-bottom:3px solid #1661C5;border-left:none;border-right:none; margin-left:209px;height:500px; background:#FFF url(../images/ch_right_bg04.gif) repeat-x left bottom}
#line{ float:left;display:inline; width:7px; height:500px; border-bottom:3px solid #1661C5;border-top:2px solid #99BBE8; background:url(../images/ch_line_bg.gif) repeat-y center top}
#line_shadow{ float:left;display:inline; width:7px; height:500px; border-bottom:2px solid #99BBE8;border-bottom:3px solid #1661C5;border-top:2px solid #99BBE8; background:url(../images/ch_line_bg.gif) repeat-y center top}
.lineico a{ margin-top:150px; height:154px; width:7px; background:url(../images/ch_line_011.gif) no-repeat left top;display:block; }
.lineico a:hover{background:url(../images/ch_line_01.gif) no-repeat left top; display:block;}

.lineicoleft {margin-top:150px; height:154px; width:7px; background:url(../images/ch_line_011.gif) no-repeat left top;display:block; cursor:pointer;}
.lineicolefthight {background:url(../images/ch_line_01.gif) no-repeat left top; cursor:pointer;}
.lineicoright {margin-top:150px; height:154px; width:7px; background:url(../images/ch_line_022.gif) no-repeat left top;display:block; cursor:pointer;}
.lineicorighthight {background:url(../images/ch_line_02.gif) no-repeat left top; cursor:pointer;}


/*左边框架
----------------------------------------------------------------------------------*/
.leftTop{ background:#D9E7F8; border-bottom:1px solid #99BBE8; height:25px; line-height:25px; padding:0 5px}
.leftTop img{ margin-left:5px;}
#left span{ float:right; width:15px; height:15px; margin:5px 0 0 3px;  cursor:pointer}
#left span.sp01{ background:url(../images/ch_left_ico1.gif) no-repeat left top}
#left span.sp02{ background:url(../images/ch_left_ico2.gif) no-repeat left top}
#left span.sp03{ background:url(../images/ch_left_ico3.gif) no-repeat left top}
.leftCon{ margin-left:0; height:450px; width:200px; overflow:auto}
.leftCon ul {margin:0px; padding:0px;}
.leftCon ul li {height:auto; line-height:24px; text-align:left; padding:0 5px;}
#c_Tree {height:448px;width:200px;margin:0px;padding:0px;}
.leftbottom{ background:#D9E7F8; border-top:1px solid #99BBE8; height:25px; line-height:25px; padding:0 5px}
.leftbottom img{ margin-left:5px;}
.leftbottom span{ float:right; width:15px; height:15px; margin:5px 0 0 3px;  cursor:pointer}
.leftbottom span.sp01{ background:url(../images/ch_left_ico1.gif) no-repeat left top}
.leftbottom span.sp02{ background:url(../images/ch_left_ico2.gif) no-repeat left top}
.leftbottom span.sp03{ background:url(../images/ch_left_ico3.gif) no-repeat left top}

/*右边框架
----------------------------------------------------------------------------------*/
.rightTop{ height:27px; background:url(../images/ch_right_bg01.gif) repeat-x left top}
.rightTop ul{ margin-left:0}
.rightTop ul li{ float:left;}

/*标签头箭头*/
.tabscrollLeft {background:transparent url(../images/scroll-left.gif) no-repeat scroll 0px 0px;border-bottom:1px solid #8DB2E3;cursor:pointer;width:18px;height:23px;float:left;}
.tabscrollLeft-disabled { background-position:-18px 0px;cursor:default;opacity:0.5;filter:alpha(opacity=50); }
.tabscrollRight {background:transparent url(../images/scroll-right.gif) no-repeat scroll -18px 0px;border-bottom:1px solid #8DB2E3;cursor:pointer;width:18px;height:23px;position:absolute; right:2px;top:94px;z-index:4000;}
.tabscrollRight-disabled {background-position:0px 0px;cursor:default;opacity:0.5;filter:alpha(opacity=50);}

/*按钮效果--------------*/
.rightTop ul li.liOver{float:left;position:relative}
.rightTop ul li.liOver .out{float:left;background:url(../images/ch_right_nav_overL.gif) no-repeat left top; margin-top:2px;margin-left:2px;}
.rightTop ul li.liOver .out .in{background:url(../images/ch_right_nav_overR.gif) no-repeat right top;line-height:23px; color:#3168B1;padding:0 8px 0 8px;}
.rightTop ul li.liOver .out .in a{ color:#3168B1}
.rightTop ul li.liOver .out .in02{background:url(../images/ch_right_nav_overR.gif) no-repeat right top;line-height:23px; color:#3168B1;padding:0 20px 0 8px;}
.rightTop ul li.liOver .out .in02 a{ color:#3168B1}

.rightTop ul li.liOver .out .in a:hover{ text-decoration:none}
.rightTop ul li.liOver a.close{ background:url(../images/ch_right_nav_x.gif) no-repeat right top;cursor:pointer;display:block;height:11px;width:11px; position:absolute;right:3px;
top:5px;}

.rightTop ul li.liActive{float:left;position:relative}
.rightTop ul li.liActive .out{float:left;background:url(../images/ch_right_nav_actL.gif) no-repeat left top; margin-top:2px; margin-left:2px; }
.rightTop ul li.liActive .out .in{ background:url(../images/ch_right_nav_actR.gif) no-repeat right top; line-height:23px;  color:#333; padding:0 8px 0 8px; font-weight:bold;}
.rightTop ul li.liActive .out .in a{ color:#333;font-weight:bold}
.rightTop ul li.liActive .out .in02{background:url(../images/ch_right_nav_actR.gif) no-repeat right top; line-height:23px;  color:#333; padding:0 20px 0 8px; font-weight:bold;}
.rightTop ul li.liActive .out .in02 a{ color:#333;font-weight:bold}
.rightTop ul li.liActive .out .in a:hover{ text-decoration:none}

.rightTop ul li.liActive a.close{background:url(../images/ch_right_nav_x.gif) no-repeat right top;cursor:pointer;display:block;height:11px;width:11px;position:absolute;right:3px;
top:5px;}


/*所有弹出页面都需要把底部按钮换成这种*/
.ichFootICH { background: #FAFAFA; padding:10px 0 0 0 ; text-align:center; height:30px;}
.ichFootICH input{ border:1px solid #90C0E8; line-height:20px; height:22px;background:url(../images/ch_right_bot_bg01.gif) repeat-x left 1px; padding:0 5px; margin:0 10px}
.ichFootICH input.outb { border:1px solid #90C0E8; background:url(../images/ch_right_bot_bg01.gif) repeat-x left 1px;}
.ichFootICH input.intb { background:url(../images/ch_right_bot_bg02.gif) repeat-x left 1px;border:1px solid #CC5E00;}

/*消息提示*/
.windTop{ background:url(../images/ch_w01.gif) no-repeat left top; }
.windTopInt{height:25px;line-height:25px;background:url(../images/ch_w02.gif) no-repeat right top;padding:0 5px 0 10px;}
h1.hwind{ color:#1F5BAA; line-height:25px;font-weight:normal; font-size:12px;background:#3089D5 url(../images/ch_w03.gif) repeat-x left top;}
h1.hwind span{ float:right; margin-top:5px; height:15px; width:15px; cursor:pointer; background:url(../images/ch_ridi_ico.gif) no-repeat left top }
.windText{ margin-left:0; background:#F5FAFF; padding:1px; border:1px solid #7EAAE5; border-top:none}
.winda {padding:1px; border:1px solid #7EAAE5;}
.windBox{padding:5px; line-height:25px; height:120px; overflow:auto; }
.windText p{ line-height:25px; text-indent:24px}
h2.hwind1 { border-top:1px dashed #8DB2E3; line-height:20px; text-align:right; padding-right:20px; background:url(../images/ch_w04.gif) no-repeat 99% 4px; font-size:12px; font-weight:normal;}
h2.hwind1 a{color:#666}