/*初始值
----------------------------------------------------------------------------------*/
body {
	margin:0;
	padding:0;
	background:#FFF;
	font-size:12px;
	font-family:"Lucida Grande", Verdana, Lucida, Arial, Helvetica, "宋体",sans-serif;
	color:#333; 
	text-align:left; 
	background-image:url(../images/bg.gif);
	background-attachment:fixed;
	padding-left:3px; 
}
html {
	SCROLLBAR-FACE-COLOR: #DAFBFF;
    SCROLLBAR-HIGHLIGHT-COLOR: #1BB3E5;
    SCROLLBAR-SHADOW-COLOR: #1BB3E5;
    SCROLLBAR-3DLIGHT-COLOR: #DAFBFF;
    SCROLLBAR-ARROW-COLOR: #1BB3E5;
    SCROLLBAR-TRACK-COLOR: #DAFBFF;
    SCROLLBAR-DARKSHADOW-COLOR: #DAFBFF;
}
	
div,form,p,ul,ol,li,dl,dt,dd,
h1,h2,h3,h4,h5,h6			{border:0;list-style:none;margin:0;padding:0;text-align:left;}
form, input, select, textarea{ font-size:12px}
a							{color:#333;}
a:link,a:visited,a:active	{text-decoration:none;}
a:hover 					{text-decoration:underline;}
a img 						{border:0;cursor:pointer;}
img							{vertical-align:middle; }
.clear {CLEAR: both; FONT-SIZE: 0px; VISIBILITY: hidden; overflow:hidden; WIDTH: 1px; HEIGHT: 1px}

input.password {background:#FFFFFF url(../images/input_password.gif) 2px 2px no-repeat; padding-left:18px; border:1px solid #D1D1D1; color:#666666; width:200px;}
input.img {margin-left:120px;}
.TitleIn {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:550px;}
.botton {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:70px; height:18px; line-height:18px;}
.Select {background-color:#F7F7F7;color:#666666;}
.CumIn {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:150px;}
.CumInP {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:100px;}
.CumInPDisEnable {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:100px; background-color:#F7F7F7;}
.DataIn {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:400px;}
.SqlIn {background:#FFFFFF; border:1px solid #D1D1D1; color:#666666; width:600px; height:120px; overflow:visible;}



.page_wrapper {width:100%; height:30px; line-height:30px; text-align:left; margin-top:10px; margin-left:10px; color:#23AFD6; }
.page_wrapper .page_list{width:100%; float:left; height:30px; line-height:30px;  margin-left:10px; color:#23AFD6; text-align:center;}
.page_wrapper .page_list a{display:block; float:left; border:solid 1px #159ABF; padding:0 2px; margin:0 2px;text-align:center; line-height:20px; width:40px; height:16px; color:#23AFD6;}
.page_wrapper .page_list a:hover{ background:#58C7EE; color:#fff}/**/

/*顶部菜单
-------------------------------------------------------------------------------------*/
.Menu {width:220px; height:auto; text-align:left;}

/*展开、闭合菜单
-------------------------------------------------*/
.Menu .Top {width:220px; background-image:url(../images/left_top.gif); height:23px; margin-top:8px;}
.Menu .Top .Pic {width:16px; height:16px; margin-left:6px; margin-top:3px; float:left; cursor:pointer;}
.Menu .Top .Pic img {width:16px; height:16px; border:none;}
.Menu .Top .Txt {width:180px; margin-left:5px; height:23px; line-height:23px; color:#FFFFFF; float:left; font-size:13px; font-weight:bold; cursor:pointer; }
.Menu .Top .Txt a {color:#FFFFFF;}
.Menu .Top .Txt a:hover {color:#FFFFFF; }

/*子菜单
--------------------------------------------------*/
.Menu .MenuList {width:200px; margin-top:5px; padding:0px; height:auto;}
.Menu .MenuList01 {width:200px; margin-top:5px; padding:0px; height:auto;}
.Menu .MenuList01 li {line-height:24px; margin-left:0px; overflow:hidden; width:200px; cursor:pointer;}
.Menu .MenuList01 li.li01 {line-height:24px; height:24px; color:#F60}
.Menu .MenuList01 li.li02 {line-height:24px; height:24px;}
.Menu .MenuList01 li.li03 {line-height:24px; overflow:hidden;}
.Menu .MenuList01 li.li03 .ListStat {margin-left:10px; width:160px; height:20px; overflow:hidden;}
.Menu .MenuList01 li.li03 .ListStat li {background:url(../images/in_ico_down.gif) no-repeat left 6px;padding-left:15px; line-height:24px; height:24px; margin-left:0px; overflow:hidden}
.Menu .MenuList01 li.li03 .ListStat li a:hover{ color:#F60}
.Menu .MenuList01 li span{ float:left;}
.Menu .MenuList01 li span img{ margin-top:5px;}
.Menu .MenuList01 li a:hover{ color:#F60}



.Menu .MenuList li {background:url(../images/in_ico_down.gif) no-repeat left 6px; padding-left:15px; line-height:24px; height:24px; margin-left:0px; overflow:hidden}
.Menu .MenuList li a:hover{ color:#F60}

/*统计概况页面样式
-----------------------------------------------------------------------------------------------*/
#ListSiteInfo {width:100%; height:auto; margin:0px; padding:0px;}
#ChangePass {width:100%; height:auto; margin:0px; padding:0px;}
#ClassManage {width:100%; height:auto; margin:0px; padding:0px;}
#Stat_List {width:100%; height:auto; margin:0px; padding:0px;}
#Add_Stat {width:100%; height:auto; margin:0px; padding:0px;}


.Nvai {width:100%; height:30px; line-height:30px; text-align:left;}
.Nvai .Pic { width:14px; margin-left:6px; margin-top:8px; height:14px; float:left; background-image:url(../images/home_Icon.gif);}
.Nvai .Txt {width:500px; margin-left:3px; height:30px; line-height:30px; float:left; color:#FF0000;}
.Nvai .Txt span{color:#333;}
/*  站点信息  */
.Info {width:100%; height:auto; text-align:left; margin-top:10px;}
.Info li {background:url(../images/in_ico_book.gif) no-repeat left 6px; padding-left:15px; line-height:24px; height:24px; margin-left:0px; overflow:hidden}
.Info li a:hover{ color:#F60}
/*  修改密码  */
.pass {width:400px; height:auto; margin-top:60px; margin-left:10px; background-color:#F7F7F7; border:1px solid #B7ECF7; filter:alpha(opacity=80);-moz-opacity:0.8; text-align:center;}
.pass .title {width:100%; height:30px; line-height:30px; font-size:13px; font-weight:bold; color:#1BB3E5; text-align:center;}
.pass .oldPass {width:96%; height:30px; line-height:30px; font-size:12px; color:#1BB3E5; text-align:left;}


/* 栏目管理 */
.ClassOption {width:96%; height:30px; line-height:30px; text-align:left; margin-top:10px; margin-left:10px;}
.ClassOption li {width:60px; height:30px; line-height:30px; text-align:left; float:left;}
.ClassOption li img {border:none; cursor:pointer;}

.ClassList {width:96%; height:auto; margin-top:2px; margin-left:10px; background-color:#F7F7F7; border:1px solid #B7ECF7; filter:alpha(opacity=80);-moz-opacity:0.8; text-align:center;}
.ClassList .Option {width:100%; height:30px; line-height:30px; text-align:left; background-color:#23AFD6;}
.ClassList .Option  li.li01{height:30px; line-height:30px; width:5%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold;}
.ClassList .Option  li.li02{height:30px; line-height:30px; width:40%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold; overflow:hidden;}
.ClassList .Option  li.li03{height:30px; line-height:30px; width:15%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold;}
.ClassList .Option  li.li04{height:30px; line-height:30px; width:20%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold;}
.ClassList .Option  li.li05{height:30px; line-height:30px; width:15%; color:#FFFFFF; float:left; text-align:center; font-weight:bold;}
.ClassList .InfoList {width:100%; height:auto; text-align:left; background-color:#F7F7F7; margin-top:0px; margin-bottom:0px;}
.ClassList .InfoList  li.li01{height:30px; line-height:30px; width:5%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:center;}
.ClassList .InfoList  li.li02{height:30px; line-height:30px; width:40%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:left; overflow:hidden;}
.ClassList .InfoList  li.li03{height:30px; line-height:30px; width:15%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:center;}
.ClassList .InfoList  li.li04{height:30px; line-height:30px; width:20%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:center;}
.ClassList .InfoList  li.li05{height:30px; line-height:30px; width:15%; color:#23AFD6; float:left; text-align:center;}





/* 添加统计项目 */
.AddStat {width:700px; height:auto; margin-top:30px; margin-left:10px; background-color:#F7F7F7; border:1px solid #B7ECF7; filter:alpha(opacity=80);-moz-opacity:0.8; text-align:center;}
.AddStat .title {width:100%; height:30px; line-height:30px; font-size:13px; font-weight:bold; color:#1BB3E5; text-align:center;}
.AddStat .stTitle {width:96%; height:30px; text-align:left;}
.AddStat .stType {width:96%; height:30px; text-align:left;}
.AddStat .stCum {width:96%; height:auto; text-align:left;}
.AddStat .stCum div {width:100%; height:auto; text-align:left;}
.AddStat .stCum li.li01{line-height:24px; height:24px; margin-left:0px; margin-right:10px; overflow:hidden; width:48%; float:left;}
.AddStat .stCum li.li02{line-height:24px; height:24px; margin-left:0px; overflow:hidden; text-align:left; float:left; width:100%;}
.AddStat .stCum li.li03{line-height:90px; height:auto; margin-left:0px; overflow:hidden; text-align:left; float:left; width:100%;}
.AddStat .stCum li span {line-height:24px; height:24px; margin-left:5px; color:#55BF00;}
.AddStat .stCum div.ParamList {width:100%; height:auto; text-align:left;}
.AddStat .stCum div.ParamList li{line-height:24px; height:24px; margin-left:0px; overflow:hidden; text-align:left; float:left; width:96%;}
.AddStat .stbtn {width:96%; height:40px; line-height:40px; text-align:left;}


/*  统计项目列表  */
.Topoption {width:96%; height:30px; line-height:30px; text-align:left; margin-top:10px; margin-left:10px;}
.Topoption li {width:60px; height:30px; line-height:30px; text-align:left; float:left;}
.Topoption li img {border:none; cursor:pointer;}
.Topoption li.li01 {width:auto; height:30px; line-height:30px; margin-left:10px; text-align:left; float:left;}
.List {width:96%; height:auto; margin-top:2px; margin-left:10px; background-color:#F7F7F7; border:1px solid #B7ECF7; filter:alpha(opacity=80);-moz-opacity:0.8; text-align:center;}
.List .Option {width:100%; height:30px; line-height:30px; text-align:left; background-color:#23AFD6;}
.List .Option  li.li01{height:30px; line-height:30px; width:5%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold;}
.List .Option  li.li02{height:30px; line-height:30px; width:40%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold; overflow:hidden;}
.List .Option  li.li03{height:30px; line-height:30px; width:15%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold;}
.List .Option  li.li04{height:30px; line-height:30px; width:20%; color:#FFFFFF; border-right:1px solid #F7F7F7; float:left; text-align:center; font-weight:bold;}
.List .Option  li.li05{height:30px; line-height:30px; width:15%; color:#FFFFFF; float:left; text-align:center; font-weight:bold;}
.List .InfoList {width:100%; height:auto; text-align:left; background-color:#F7F7F7; margin-top:0px; margin-bottom:0px;}
.List .InfoList  li.li01{height:30px; line-height:30px; width:5%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:center;}
.List .InfoList  li.li02{height:30px; line-height:30px; width:40%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:left; overflow:hidden;}
.List .InfoList  li.li03{height:30px; line-height:30px; width:15%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:center;}
.List .InfoList  li.li04{height:30px; line-height:30px; width:20%; color:#23AFD6; border-right:1px dashed #B2EBFA; float:left; text-align:center;}
.List .InfoList  li.li05{height:30px; line-height:30px; width:15%; color:#23AFD6; float:left; text-align:center;}


/*  报表显示页面  */
.ViewTop {width:800px; height:auto; line-height:30px; text-align:left; margin-top:10px; margin-left:10px; border:1px solid #B7ECF7; background-color:#F7F7F7;}
.ViewTop .Change {width:790px; height:auto; line-height:30px; text-align:left; margin-left:9px; }
.ViewTop .Change li{line-height:30px; height:30px; margin-left:0px; overflow:hidden; text-align:left; float:left; width:96%;}


/*  版权部分  */
.copybottom {width:100%; height:60px; line-height:60px; text-align:center; margin-top:10px; margin-bottom:10px;}
.copybottom .Listcopy {width:96%; height:60px; line-height:60px; text-align:left; color:#666666; margin-left:10px;}




/*常规数据列表页面部分
----------------------------------------------------------------------------------------------------------------------------------------*/
/* 通用查询部分 */
#SearchWrap {width:100%; margin-top:10px; text-align:center; height:auto;}
#SearchWrap .Con {width:96%; margin-left:10px; height:30px; line-height:30px; text-align:left;}
#SearchWrap .Numt {width:96%; margin-left:10px; height:30px; line-height:30px; text-align:left;}
#SearchWrap .Numt .Num {width:800px; height:30px; line-height:30px; text-align:left; border:1px solid #F7F7F7;}
#SearchWrap .Numt .Num li {height:30px; line-height:30px; text-align:left; border-right:1px solid #F7F7F7; float:left; width:260px;}
#SearchWrap .Numt .Num li span{color:#CC3300;}
#SearchWrap .Numt .Num li.li01 { border:none;}

/*  访客详情  */
#Vistor_InfoList {width:810px; height:auto; text-align:center; padding:0px; margin-top:10px;}
.VistorInfo {width:100%; margin-left:10px; text-align:left; height:auto; color:#666666;}
.VistorInfo .Title{width:800px; height:30px; line-height:30px; text-align:left; font-size:13px; font-weight:bold; color:#CC6600;  margin-left:13px;}
.VistorInfo .InfoList{width:800px; height:120px; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:15px; margin-bottom:10px;}
.VistorInfo .InfoList .Area{width:100%; border-bottom:1px solid #1BB3E5; height:30px; line-height:30px;}
.VistorInfo .InfoList .Area a{color:#F60;}
.VistorInfo .InfoList .Area a:hover{color:#F60;}
.VistorInfo .InfoList .Area li{width:49%; height:30px; line-height:30px; float:left; border-right:1px solid #1BB3E5;}
.VistorInfo .InfoList .Area li.li01{border-right:none;}
.VistorInfo .InfoList .bottom{width:100%; height:30px; line-height:30px;}
.VistorInfo .InfoList .bottom li{height:30px; line-height:30px; float:left;}
.VistorInfo .InfoList .bottom li.li01{width:60%;  border-right:1px solid #1BB3E5;}
.VistorInfo .InfoList .bottom li.li02{width:38%;}

/*  访问量统计 */
#VistorNum_InfoList {width:810px; height:auto; text-align:center; padding:0px; margin-top:10px;}
.VistorNum{width:100%; margin-left:10px; text-align:left; height:auto; color:#666666;}
.VistorNum .TitleNum{width:800px; height:30px; line-height:30px; text-align:left; font-size:13px; font-weight:bold; color:#CC6600;  margin-left:13px;}
.VistorNum .InfoListNum{width:800px; height:auto; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:15px; margin-bottom:10px;}
.VistorNum .InfoListNum .Menu{width:800px; height:30px; line-height:30px;}
.VistorNum .InfoListNum .Menu li{height:30px; line-height:30px; float:left; text-align:center;}
.VistorNum .InfoListNum .Menu li.li01{width:150px; border-right:1px solid #1BB3E5;}
.VistorNum .InfoListNum .Menu li.li02{width:250px; border-right:1px solid #1BB3E5;}
.VistorNum .InfoListNum .Menu li.li03{width:380px;}

.VistorNum .NumList{width:800px; height:72px; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:15px; margin-bottom:10px;}
.VistorNum .NumList .Left{width:150px; height:72px; line-height:72px; border-right:1px solid #1BB3E5; float:left; text-align:center;}
.VistorNum .NumList .Center{width:250px; height:72px; border-right:1px solid #1BB3E5; float:left; padding:0px;}
.VistorNum .NumList .Center .NumAllT{width:250px; height:24px; line-height:24px; border-bottom:1px solid #1BB3E5; padding:0px; margin:0px;}
.VistorNum .NumList .Center .NumAllT01{width:250px; height:24px; line-height:24px; padding:0px; margin:0px;}
.VistorNum .NumList .Right{width:398px; height:72px; float:left;}
.VistorNum .NumList .Right .NumAllP{width:398px; height:24px; line-height:24px; border-bottom:1px solid #1BB3E5; padding:0px; margin:0px;}
.VistorNum .NumList .Right .NumAllP01{width:398px; height:24px; line-height:24px; padding:0px; margin:0px;}
.VistorNum .NumList .Right .NumAllP li { float:left; height:24px; line-height:24px;}
.VistorNum .NumList .Right .NumAllP li img { margin-top:5px;}
.VistorNum .NumList .Right .NumAllP li.li01 { width:80px; text-align:center;}
.VistorNum .NumList .Right .NumAllP li.li02 { width:200px; text-align:left;}
.VistorNum .NumList .Right .NumAllP li.li03 { width:80px; text-align:left;}
.VistorNum .NumList .Right .NumAllP01 li { float:left; height:24px; line-height:24px;}
.VistorNum .NumList .Right .NumAllP01 li img { margin-top:5px;}
.VistorNum .NumList .Right .NumAllP01 li.li01 { width:80px; text-align:center;}
.VistorNum .NumList .Right .NumAllP01 li.li02 { width:200px; text-align:left;}
.VistorNum .NumList .Right .NumAllP01 li.li03 { width:80px; text-align:left;}




/*  当天用户注册详情  */
#P_TodayRegUserInfo {width:810px; height:auto; text-align:center; padding:0px; margin-top:10px;}
.TodayRegUserInfo{width:100%; margin-left:10px; text-align:left; height:auto; color:#666666;}
.TodayRegUserInfo .TitleReg{width:800px; height:30px; line-height:30px; text-align:left; font-size:13px; font-weight:bold; color:#CC6600;  margin-left:13px;}
.TodayRegUserInfo .TitleReg a{font-size:13px; font-weight:bold; color:#CC6600;  margin-left:13px;}

.TodayRegUserInfo .userRegInfo{width:800px; height:auto; line-height:30px; text-align:left; margin-left:13px; border:solid 1px #666666;}
.TodayRegUserInfo .userRegInfo li{height:30px; line-height:30px; float:left; width:100%; margin-left:10px;}
.TodayRegUserInfo .userRegInfo li span{color:#FF6600;}


.TodayRegUserInfo .RegMenu{width:800px; height:auto; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:15px; margin-bottom:10px;}
.TodayRegUserInfo .RegMenu .Menu{width:800px; height:30px; line-height:30px;}
.TodayRegUserInfo .RegMenu .Menu li{height:30px; line-height:30px; float:left; text-align:center;}
.TodayRegUserInfo .RegMenu .Menu li.li01{width:150px; border-right:1px solid #1BB3E5;}
.TodayRegUserInfo .RegMenu .Menu li.li02{width:250px; border-right:1px solid #1BB3E5;}
.TodayRegUserInfo .RegMenu .Menu li.li03{width:380px;}

.TodayRegUserInfo .UserInfo {width:800px; height:auto; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:10px; }
.TodayRegUserInfo .UserInfo .UInfo{width:800px; height:30px; line-height:30px;}
.TodayRegUserInfo .UserInfo .UInfo .left{width:150px; height:30px; line-height:30px; border-right:1px solid #1BB3E5; float:left;}
.TodayRegUserInfo .UserInfo .UInfo .center{width:250px; height:30px; line-height:30px; border-right:1px solid #1BB3E5; float:left; padding:0px; text-align:center;}
.TodayRegUserInfo .UserInfo .UInfo .right{width:398px; height:30px; line-height:30px; float:left;}

.TodayRegUserInfo .UserInfo .UInfoList{width:100%; height:auto; background-color:#F7F7F7; border-top:1px solid #1BB3E5; border-bottom:1px dashed #1BB3E5; margin-bottom:10px;}
.TodayRegUserInfo .UserInfo .UInfoList .ListDiv{width:100%; height:30px; line-height:30px; text-align:left; border-bottom:1px dashed #CCC;}
.TodayRegUserInfo .UserInfo .UInfoList .ListDiv01{width:100%; height:auto; text-align:left; border-bottom:1px dashed #CCC;}
.TodayRegUserInfo .UserInfo .UInfoList .ListDiv01 li{width:100%; height:24px; line-height:24px; text-align:left;}


/*  当天注册用户推荐人详情 */
#P_TodayRegUserCommendInfo{width:810px; height:auto; text-align:center; padding:0px; margin-top:10px;}
.TodayCommend{width:100%; margin-left:10px; text-align:left; height:auto; color:#666666;}
.TodayCommend .TitleCom{width:800px; height:30px; line-height:30px; text-align:left; font-size:13px; font-weight:bold; color:#CC6600;  margin-left:13px;}
.TodayCommend .ComMenu{width:800px; height:auto; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:15px; margin-bottom:10px;}
.TodayCommend .ComMenu .Menu{width:800px; height:30px; line-height:30px;}
.TodayCommend .ComMenu .Menu li{height:30px; line-height:30px; float:left; text-align:center;}
.TodayCommend .ComMenu .Menu li.li01{width:100px; border-right:1px solid #1BB3E5;}
.TodayCommend .ComMenu .Menu li.li02{width:100px; border-right:1px solid #1BB3E5;}
.TodayCommend .ComMenu .Menu li.li03{width:580px;}

.TodayCommend .BeCommInfo {width:800px; height:inherit; text-align:left; border:1px solid #1BB3E5;  margin-left:13px; margin-top:10px; }
.TodayCommend .BeCommInfo .BeInfo{width:800px; height:inherit;}
.TodayCommend .BeCommInfo .BeInfo .left{width:100px; height:inherit; border-right:1px solid #1BB3E5; float:left;}
.TodayCommend .BeCommInfo .BeInfo .center{width:100px; height:inherit;  border-right:1px solid #1BB3E5; float:left; padding:0px; text-align:center;}
.TodayCommend .BeCommInfo .BeInfo .right{width:598px; height:inherit; float:left; }
.TodayCommend .BeCommInfo .BeInfo .right .Info_List{width:598px; height:30px; line-height:30px; float:left;}













