<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="ServerSessionSupport" type="EaseServer.Configuration.ServerSessionSupport, EaseServer" />
    <section name="RefactContentConfig" type="CommonLib.XmlSerializeSectionHandler, CommonLib" />
  </configSections>

  <!-- EASE标签内容处理配置 函数签名参数为：业务编号(short),待处理内容(string),内容是否为html(bool)；返回值为字符型。-->
  <RefactContentConfig type="EaseServer.EaseConnection.RefactContentConfig, EaseServer.EaseConnection">
    <step type="EaseServer.EaseConnection.DataExchange, EaseServer.EaseConnection" method="DefaultCodeFilter" static="true" onlyFor="116">
      <BeforeAction>
        <add replace="&amp;nbsp;" with="&amp;nbsp;" pattern="false" />
      </BeforeAction>
      <AfterAction>
        <add replace="(&lt;\w+\s)(\s?\r?\n[\s\t]+)" with="$1" pattern="true" />
        <add replace="((&quot;[^\&quot;]+&quot;\s*&gt;)|(&lt;/\w+&gt;))(\r\n){1,}" with="$1" pattern="true" />
        <add replace="(&quot;[^\&quot;]+&quot;)(\s?\r?\n[\s\t]+)(\w+)" with="$1 $3" pattern="true" />
        <add replace="([{},])(\s?\r?\n[\s\t]+)([\w}]+)" with="$1$3" pattern="true" />
      </AfterAction>
    </step>
  </RefactContentConfig>

  <appSettings>
    <!-- 是否记录组件产生的SQL语句操作 -->
    <add key="SharpOrm.LogCommandText" value="false" />
    <!-- SQL语句记录是否包含详细堆栈信息 -->
    <add key="SharpOrm.LogStackTrace" value="false" />

    <!-- 数据交互是否记录请求数据 -->
    <add key="EaseServer.EaseConnection.DataExchange.DebugRequest" value="false" />
    <!-- 数据交互是否记录返回数据 -->
    <add key="EaseServer.EaseConnection.DataExchange.DebugResponse" value="false" />
    <!-- 数据交互是否记录的业务编号限制 默认记录所有，只记录特定业务编号使用,分隔多个编号。-->
    <add key="EaseServer.EaseConnection.DataExchange.DebugServiceID" value="13" />

    <!-- 数据代理是否压缩特定业务编号的数据 默认不压缩，只压缩特定业务编号使用,分隔多个编号。-->
    <add key="EaseServer.EaseConnection.DataProxy.CompressBizData" value="13" />
    <!-- 数据代理压缩业务数据的最小字节，默认4096字节。-->
    <add key="EaseServer.EaseConnection.DataProxy.CompressBizMinBytes" value="4096" />

    <!-- 数据交互是否记录业务日志，默认为记录所有业务访问日志-->
    <add key="EaseServer.EaseConnection.DataExchange.RecordPageView" value="true" />
    <!-- 资源文件名长度限制 -->
    <add key="EaseServer.EaseConnection.DataExchange.FileNameMaxLength" value="40"/>

    <!-- HTTP 设置未知扩展名文件类型，如不设置将显示403错误 -->
    <add key="EaseServer.UnkownContentType" value="application/octet-stream" />
    <!-- 客户端连接的最多闲置秒数设置 -->
    <add key="EaseServer.MaxIdleTimeSeconds" value="120" />
    <!-- 记录访问的类型： ReadWrite Read Write None-->
    <add key="EaseServer.DumpAccess" value="ReadWrite" />
    <!-- 记录访问的格式： Binary HexString HexViewString -->
    <add key="EaseServer.DumpFormat" value="Binary" />

    <!-- 资源为图片的文件扩展名列表 -->
    <add key="Gwsoft.EaseMode.ResourceCatelog.Picture.Extension" value=".png.bmp.gif.jpg.ico.jpeg" />

    <!-- 资源为铃声的文件扩展名列表 -->
    <add key="Gwsoft.EaseMode.ResourceCatelog.Ring.Extension" value=".mid.midi.mp3.wav" />

  </appSettings>

  <connectionStrings>
    <add name="DefaultDB" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=ProxyServer;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="ServerDB" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=GwsoftEase1.3;Connect Timeout=60" providerName="System.Data.SqlClient" />
    <add name="ProxyServer" connectionString="Server=192.168.8.43;User ID=sa;Password=mimaaa;Database=ProxyServer;Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- 服务器端会话支持类型，排在前面的优先操作。 -->
  <ServerSessionSupport>

    <!-- EASE协议支持 -->
    <add id="ESPSession" type="EaseServer.EaseConnection.ESPConnectionProcess, EaseServer.EaseConnection" enable="true">
      <Config>
        <!-- 会话数据发送缓冲字节数 默认1024字节 -->
        <add name="bufferSize" value="40960" />
        <add name="record" value="false" />
        <!-- <add name="keepConnection" value="true" /> -->
      </Config>
    </add>

  </ServerSessionSupport>

  <cachingConfiguration defaultCacheManager="MemoryCacheManager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="20000" numberToRemoveWhenScavenging="1000" backingStoreName="Isolated Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" name="IsolatedCacheManager" />
      <add expirationPollFrequencyInSeconds="360" maximumElementsInCacheBeforeScavenging="5000" numberToRemoveWhenScavenging="500" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" name="MemoryCacheManager" />
    </cacheManagers>
    <backingStores>
      <add partitionName="DiskCache" encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Isolated Storage" />
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Null Storage" />
    </backingStores>
  </cachingConfiguration>

  <system.net>
    <settings>
      <!-- 服务器提交协议冲突 Section=ResponseStatusLine 的解决办法 -->
      <httpWebRequest useUnsafeHeaderParsing= "true "  />
    </settings>
  </system.net>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>

</configuration>