<?xml version="1.0" encoding="utf-8" ?>
<SynServerAddress xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ESP_ServerIP1><![CDATA[ebook.ccsoft.mobi]]></ESP_ServerIP1>
  <ESP_ServerPort1>9000</ESP_ServerPort1>

  <ESP_ServerIP2><![CDATA[10.199.112.14]]></ESP_ServerIP2>
  <ESP_ServerPort2>9011</ESP_ServerPort2>

  <ESP_ServerDomain><![CDATA[ebook.ccsoft.mobi]]></ESP_ServerDomain>
  <ESP_ServerPort>9000</ESP_ServerPort>

  <ESP_WapGateWayAddress><![CDATA[10.0.0.200]]></ESP_WapGateWayAddress>
  <ESP_WapGateWayPort>80</ESP_WapGateWayPort>

  <ESP_ServerGateWayAddress><![CDATA[www.easegateway.com]]></ESP_ServerGateWayAddress>
  <ESP_ServerGateWayPort>9000</ESP_ServerGateWayPort>
  <ESP_ServerGateWayPath><![CDATA[/ease/servlet/ease]]></ESP_ServerGateWayPath>

</SynServerAddress>