<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="ServerSessionSupport" type="EaseServer.Configuration.ServerSessionSupport, EaseServer" />
  </configSections>
  <dataConfiguration defaultDatabase="DefaultDB" />

  <appSettings>
    <!-- 管理模块的所有URL前缀地址 -->
    <add key="WebServiceModule.PrefixePath" value="/cpl/service/" />

    <!-- 获取协议的匹配模式，必须包含匹配组(proto) /cpl/service/1.3.5.1.1/ -->
    <add key="WebServiceModule.ProtocolPattern" value="/(?&lt;proto&gt;(\d+\.)+\d+)" />

    <!-- 指定在线更新辅助程序路径 -->
    <add key="ServerUpdateHandler.SwitcherPath" value="d:\EaseSvrSwitcher\EaseSvrSwitcher.exe" />
    <!-- 指定在线更新辅助程序更新的window服务名称 -->
    <add key="ServerUpdateHandler.ServiceName" value="CLRSvrHost"/>
  </appSettings>

  <!-- 服务器端会话支持类型，排在前面的优先操作。
      aspx:获取或设置是否允许内置的Asp.NET服务(默认开启)
      mixed:是否允许混合主/被动会话模式(默认关闭，只支持主动式会话。)
      emptyUA:获取或设置是否允许空的用户代理标识(默认允许)
  -->
  <ServerSessionSupport aspx="true" mixed="true" emptyUA="true">
    <!-- 控制台支持 -->
    <add id="Console" type="EaseServer.ConsoleConnection.FreeStyleConnection, EaseServer.ConsoleConnection" enable="true">
      <Config>
        <add name="sessionKey" value="ease" />
      </Config>
    </add>
  </ServerSessionSupport>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="txtFileTrace" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        initializeData="AspTesttrace.log" />
      </listeners>
    </trace>
    <switches>
      <!-- This switch controls data messages. In order to receive data 
         trace messages, change value="0" to value="1" -->
      <add name="DataMessagesSwitch" value="1" />

      <!-- This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information -->
      <add name="TraceLevelSwitch" value="4" />
    </switches>

  </system.diagnostics>

  <connectionStrings>
    <add name="DefaultDB" connectionString="Server=(local);User ID=sa;Password=mimaaa;Database=ProxyServer" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>